java/spring/spring-mvc-example/.idea/
java/spring/spring-web-jsp/.settings/
java/threading/.idea/sonarlint/
java/unit-test-jpa-junit-h2/target/
java/threading/.idea/
java/spring/spring-vaadin-hibernate/.settings/
java/spring/spring-vaadin-flow-starter/.settings/
java/spring/spring-mvc-example/.settings/
java/others/.idea/
